# .github/workflows/email.yml
name: Send Email Notification

on:
  push:
    branches:
      - main

jobs:
  send_email:
    runs-on: ubuntu-latest

    steps:
      - name: Send email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: GitHub Action Notification
          body: |
            This is an automated email from GitHub Actions.
            The workflow has been triggered on push to main.
          to: tizhou@redhat.com
          from: container.tools.ci@gmail.com
